iguana/.tmpmarker
iguana/DB
iguana/tmp

slate/*.gem
slate/*.rbc
slate/.bundle
slate/.config
slate/coverage
slate/InstalledFiles
slate/lib/bundler/man
slate/pkg
slate/rdoc
slate/spec/reports
slate/test/tmp
slate/test/version_tmp
slate/tmp
slate/*.DS_STORE
slate/.cache
slate/.vagrant
slate/.sass-cache

slate/# YARD artifacts
slate/.yardoc
slate/_yardoc
slate/doc/
slate/.idea/

